.accent-text {
  color: var(--color-accent);
}

.homepage h1 {
  font-size: var(--font-size-extra-large);
  line-height: var(--line-height-extra-large);
  margin-bottom: 1rem;
}

.homepage a:hover {
  color: var(--color-accent);
}

.homepage main section {
  padding: 4rem 2rem;
}

.homepage-banner {
  font-family: var(--banner-font), sans-serif;
  font-weight: 100;

  min-height: clamp(20rem, 25vw + 15rem, 35rem);
  padding-bottom: clamp(0rem, 10rem - 10vw, 5rem);

  overflow-x: clip;

  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-banner-text-wrapper {
  transform-origin: center;
  transform: scale(1.8) rotateZ(-15deg);
}

.homepage-banner-text {
  --animation-name: homepage-banner-text-scroll-right;
  --animation-duration: 5s;

  font-size: var(--font-size-extra-large);
  line-height: 1;
  text-wrap: nowrap;
  user-select: none;
  cursor: pointer;

  animation: var(--animation-name) var(--animation-duration) linear infinite;
  animation-play-state: paused;
}

.homepage-banner-text:nth-child(2) {
  --animation-name: homepage-banner-text-scroll-left;
}

.homepage-banner-text:hover {
  animation-play-state: running;
}

.homepage-banner-text:active {
  animation-play-state: paused;
}

@keyframes homepage-banner-text-scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-13.4%);
  }
}

@keyframes homepage-banner-text-scroll-right {
  0% {
    transform: translateX(-13.4%);
  }

  100% {
    transform: translateX(0%);
  }
}

.homepage-user-greeter {
  margin-left: auto;

  max-width: max(25dvw, 300px);

  text-align: end;
  padding-inline: 2rem;
}

.homepage-button-wrapper {
  margin-left: auto;

  max-width: max(25dvw, 300px);

  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;

  padding-inline: 2rem;
}

.homepage-button-wrapper a,
.homepage-button-wrapper button {
  flex: 1;

  font-size: var(--font-size-small);

  color: var(--color-background);
  font-weight: 500;

  text-decoration: none;
  text-align: center;

  border: none;
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 10px;

  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.homepage-button-wrapper a:hover,
.homepage-button-wrapper button:hover {
  transform: scale(1.05);
  color: var(--color-background);
}

.homepage-content {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.homepage-content-intro {
  text-align: center;
  max-width: 55ch;
}

.homepage-content-intro h1 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.homepage-content-intro p {
  letter-spacing: -1px;
}

.homepage-gallery {
  container-type: size;

  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 2rem;
  align-self: center;

  width: 100%;
  max-width: 1200px;

  aspect-ratio: 1 / 0.75;
}

.homepage-gallery button {
  color: white;
  font-family: var(--heading-font), sans-serif;
  font-size: max(1.5rem, 6cqw);
  line-height: 1;
  text-align: start;

  padding: 1.5cqw 1.5cqw;

  border-radius: 1rem;
  border: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  z-index: 1;

  display: flex;

  justify-content: start;
  align-items: end;

  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

.homepage-gallery button .button-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.2;
  z-index: -1;
  border-radius: 1rem;
  transition: opacity 0.2s ease-in-out;
}

.homepage-gallery button .button-text {
  transition: opacity 0.2s ease-in-out;
}

.homepage-gallery button:hover {
  transform: scale(1.01);
}

.homepage-gallery:has(button:hover) button:not(:hover) {
  transform: scale(0.99);
}

.homepage-gallery:has(button:hover) button:not(:hover) .button-background {
  opacity: 0.6;
}

.homepage-gallery:has(button:hover) button:not(:hover) .button-text {
  opacity: 0.1;
}

.homepage-gallery .workouts-button {
  grid-column: 1 / span 2;

  background-image: url("Assets/andreea-boncota-icxORkp1Yv0-unsplash.png");
}

.homepage-gallery .routines-button {
  background-image: url("Assets/b29c6769ee838e4a008539b0d3e59741.png");
  justify-content: end;
  text-align: end;
}

.homepage-gallery .recipes-button {
  background-image: url("Assets/brooke-lark-iLZ8SBO0pn4-unsplash.png");
}

.homepage-gallery .meals-button {
  grid-column: 2 / span 2;

  background-image: url("Assets/brenda-godinez-_Zn_7FzoL1w-unsplash.png");
  justify-content: end;
  text-align: end;
}

@media (max-width: 600px) {
  .homepage-gallery {
    gap: 1rem;
  }

  .homepage-gallery button .button-text {
    font-size: var(--font-size-medium);
    padding: 0.2rem;
  }
}