.homepage h1 {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.homepage main section {
  padding: 4rem 2rem;
}

.homepage .logo-wrapper {
  display: flex;
  align-items: end;
  gap: 0.3rem;

  font-family: "Angkor", serif;
  font-size: 1.5rem;
  line-height: 1.4rem;
}

.homepage .logo-wrapper img {
  max-width: 40px;
}

.header {
  background-color: var(--color-background);

  padding: 2rem 2rem;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 2rem;
  align-items: end;

  line-height: 1;
}

.header > *:nth-child(3) {
  justify-self: start;
}

.header > *:nth-child(3) {
  justify-self: center;
}

.header > *:nth-child(3) {
  justify-self: end;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  padding-left: 0;
}

.header nav ul > * {
  flex-shrink: 0;
}

.footer .footer-links a {
  text-decoration: none;
  color: unset;
}

.header nav a {
  text-decoration: none;
  color: unset;
}

.header nav li {
  transition: transform 0.1s ease-in-out;
}

.header nav li:hover {
  transform: scale(1.1);
}

.header .user-wrapper {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.header .user-wrapper .user-image {
  background-color: black;
  aspect-ratio: 1 / 1;
  min-width: 2rem;
  border-radius: 100%;
}

.call-to-action-wrapper {
  background: linear-gradient(45deg, #5d987a, #2c4739, #1f3229);
  color: white;

  display: flex;
  justify-content: center;
  align-items: end;
  gap: 3rem;
}

.call-to-action-wrapper > div {
  max-width: 65ch;
  flex: 1 1 0;
}

.call-to-action-text-wrapper {
  margin-bottom: 2rem;
}

.call-to-action-text-wrapper p {
  font-size: 1.5rem;
  line-height: 1.1;
}

.call-to-action-button-wrapper {
  display: flex;
  gap: 1rem;
}

.call-to-action-button-wrapper button {
  font-size: 1.2rem;
  color: white;

  background: none;
  border: 0.2rem solid white;
  border-radius: 1rem;

  padding: 0.5rem;

  cursor: pointer;
  transition: 0.1s transform ease-in-out;
}

.call-to-action-button-wrapper button:hover {
  transform: scale(1.1);
}

.call-to-action-rectangle-wrapper {
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
  aspect-ratio: 1 / 1;
}

.call-to-action-rectangle-wrapper .rectangle-1 {
  background: #67a887;
  grid-column: 4 / span 9;
  grid-row: 3 / span 9;
  border-radius: 20% / 20%;
}

.call-to-action-rectangle-wrapper .rectangle-2 {
  background: #20563b;
  grid-column: 10 / span 8;
  grid-row: 1 / span 8;
  border-radius: 20% / 20%;
}

.call-to-action-rectangle-wrapper .rectangle-3 {
  background: #85b99f;
  grid-column: 15 / span 6;
  grid-row: 5 / span 6;
  border-radius: 20% / 20%;
}

.call-to-action-rectangle-wrapper .rectangle-4 {
  background: #b9e5cf;
  grid-column: 1 / span 10;
  grid-row: 15 / span 6;
  border-radius: 12% / 20%;
}

.call-to-action-rectangle-wrapper .rectangle-5 {
  background: #9dcdb5;
  grid-column: 5 / span 15;
  grid-row: 13 / span 6;
  border-radius: 8% / 20%;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.homepage-content-intro {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.1;
  max-width: 65ch;
}

.homepage-content-intro h1 {
  font-size: 3rem;
}

.homepage-gallery {
  container-type: size;

  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 2rem;
  align-self: center;

  width: 100%;
  max-width: 1200px;

  aspect-ratio: 1 / 0.75;
}

.homepage-gallery button {
  color: white;
  font-family: "Angkor", serif;
  font-size: max(1rem, 4cqw);
  text-align: start;

  padding: 1.5cqw 3cqw;

  border-radius: 2rem;
  border: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  z-index: 1;

  display: flex;

  justify-content: start;
  align-items: end;

  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

.homepage-gallery button .button-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.2;
  z-index: -1;
  border-radius: 2rem;
  transition: opacity 0.2s ease-in-out;
}

.homepage-gallery button .button-text {
  transition: opacity 0.2s ease-in-out;
}

.homepage-gallery button:hover {
  transform: scale(1.01);
}

.homepage-gallery button:hover .button-background {
  opacity: 0;
}

.homepage-gallery:has(button:hover) button:not(:hover) {
  transform: scale(0.99);
}

.homepage-gallery:has(button:hover) button:not(:hover) .button-background {
  opacity: 0.6;
}

.homepage-gallery:has(button:hover) button:not(:hover) .button-text {
  opacity: 0.1;
}

.homepage-gallery .workouts-button {
  grid-column: 1 / span 2;

  background-image: url("Assets/pexels-victorfreitas-841130.png");
}

.homepage-gallery .routines-button {
  background-image: url("Assets/evan-wise-wTcD3MwL_VY-unsplash.png");
  justify-content: end;
  text-align: end;
}

.homepage-gallery .recipes-button {
  background-image: url("Assets/tangerine-newt-AKH4OVEmILc-unsplash.png");
}

.homepage-gallery .meals-button {
  grid-column: 2 / span 2;

  background-image: url("Assets/brenda-godinez-_Zn_7FzoL1w-unsplash.png");
  justify-content: end;
  text-align: end;
}

.custom-shape-divider-wrapper {
  display: flex;
  justify-content: center;
}

.custom-shape-divider-footer {
  flex-shrink: 0;
  width: max(1920px, 100lvw);
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-footer svg {
  width: 100%;
  height: 150px;
}

.custom-shape-divider-footer .shape-fill {
  fill: #a4cbb7;
}

.footer {
  padding: 4rem 2rem;

  background-color: #a4cbb7;

  display: flex;
  flex-direction: column;

  gap: 3rem;

  align-items: center;
  justify-content: center;
}

.footer .footer-links {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: max(3svw, 1rem);

  font-size: 1.3rem;
  text-align: center;
}

.footer .footer-links a {
  text-decoration: none;
  color: unset;
}

.footer .footer-links li {
  transition: transform 0.1s ease-in-out;
}

.footer .footer-links li:hover {
  transform: scale(1.1);
}
