@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');




body {
    background-color: #DEF9EB;
    height: auto;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    padding: auto;
  }

  .grid-container {
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .left {
    padding: 1rem;
  }

  .right {
    border-radius: 40px;
    min-height: max(97svh, 100px);
    background-color: #85b99f;
    
  }
  

  
  .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .logo img {
  
      width: 58px;
    height: 67px;
      
  }
  

  
  .home {
  color: black;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-align: right;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  .home:hover {
    color: #555;
  }
 
.welcome {
  color: #000;

font-family: "Angkor", 'Times New Roman', serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}


 
  