@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.flex-container-workoutspage {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  
}
.left-grid-container-workoutspage {
  display: grid;
  margin-left: 4rem;
  margin-top: 2rem;
  justify-items: left;
}

.right-grid-container-workoutspage {
    
}
.right-grid-container-workoutspage p {
    text-align: end;
}
.workouts-heading {
  display: grid;
  text-align: center;
  justify-content: left;
}

.workouts-heading p {
  font-family: "Anton";
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
}

.Cal-burnt-from-workout-container {
  text-align: left;
  margin-top: 6rem;
}

.Cal-burnt-from-workout-button {
  cursor: pointer;
  background-color: #fb5d35;
  border-radius: 25px;
  border: none;
  min-height: 5rem;
  min-width: 20rem;
  padding-top: 3rem;
}

.Cal-burnt-from-workout-button p {
  color: white;
  font-size: 17px;
  font-family: "Josefin Sans";
  text-align: left;
  margin-left: 10px;
  margin-bottom: auto;
}

.Login-a-workout-container {
  margin-top: 2rem;
}

.login-a-workout-button {
  background-color: #fb5d35;
  border: none;
  border-radius: 25px;
  min-width: 20rem;
  min-height: 2rem;
  cursor: pointer;
  margin-bottom: 5rem;
}

.login-a-workout-button p {
  color: white;
  font-family: "Josefin Sans";
  font-size: 17px;
}

.bottom-container-workoutspage {
  align-items: center;
}

.my-routines-label {
  margin-bottom: 1rem;
}

.my-routines-label p {
  font-family: "Anton";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
}

.saved-routines-flexbox {
  justify-items: center;
  text-align: center;
}

.saved-routine {
  min-width: 10rem;
  min-height: 10rem;
  background-color: white;
  border-radius: 20px;
  margin: 0.5rem;
}
