@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap);

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ring-container {
  border: 15px;
  position: relative;
}

.ring-container .ring-svg circle {
  border: #000;
}

.ring-container .ring-label {
  font-family: "Anton";
  text-align: center;
  font-size: 40px;
  color: #000;
}

.grid-container-profilepage {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 0;
  align-self: center;
}

.circle {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.left-white-rectangle p,
.right-white-rectangle p {
  margin: 1rem;
  line-height: 3rem;
  font-size: 20px;
  align-items: center;
  justify-items: center;
  font-family: "Josefin Sans";
}

.circle {
  justify-content: center;
  align-items: center;
  border: 15px solid #fb5d35;
  border-radius: 50%;
  width: 270px;
  height: 270px;
}

.activity-lvl,
.height-pp,
.weight-pp {
  flex-direction: row;
}

.activity-lvl input {
  max-width: 15rem;
}

.biggest-container,
.height-pp,
.weight-pp {
  justify-content: center;
}

.activity-lvl input,
.height-pp input,
.weight-pp input {
  margin: 10px;
  height: 2rem;
}

.biggest-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.grid-container-profilepage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

.grid-container-profilepage .left-grid-container-pp-12,
.grid-container-profilepage .top-grid-container-pp-1 {
  grid-row: 1 / span 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container-profilepage .top-grid-container-pp-1 {
  grid-column: 2;
  grid-row: 1;
}

.grid-container-profilepage .top-grid-container-pp-2 {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

.grid-container-profilepage .bottom-grid-container-pp-1-2 {
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr max-content;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.img-profilepage {
  background-image: url(./Assets/profpimage.png);
  border-radius: 30px;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  margin-inline-start: 0;
}

.img-text {
  text-align: left;
  color: #fff;
  font-family: Anton;
  margin-left: 1.5rem;
  margin-top: 3rem;
  font-size: 40px;
  line-height: 3.5rem;
}

.overview-text p {
  font-family: "Anton";
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 40px;
}

.cal-values-flex-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.number-cal,
.text-cal {
  text-align: center;
  margin-left: 17px;
}

.number-cal {
  font-family: "Anton";
  line-height: 2rem;
  font-size: 2rem;
}

.text-cal {
  font-family: "Josefin Sans";
  font-size: 16px;
  color: gray;
  padding-top: 1rem;
}

.cal-values {
  border-radius: 10px;
  min-height: 7rem;
  min-width: 10rem;
}

.button-profilepage {
  background-color: #fb5d35;
  border: 0;
  border-radius: 25px;
  min-height: 28px;
  min-width: 250px;
  justify-content: center;
  align-self: center;
}

.button-profilepage p,
.button-small-profilepage p {
  color: #fff;
  font-size: 15px;
  font-family: "Josefin Sans";
}

.login-buttons-profilepage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.profile-save-button {
  grid-column: 1 / -1;
  margin-inline: auto;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.left-white-rectangle,
.right-white-rectangle {
  background-color: #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 10px;
  line-height: 0.5rem;
  border: 1px solid #ddd;

  gap: 1rem;
  padding: 1rem;
}

.input-fields {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.input-fields label {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.2;

  justify-content: stretch;
  width: 100%;
}

.label-container {
  flex: 0 0 100px;
  font-size: 18px;
  line-height: 1.2;
}

.input-fields input,
.input-fields select {
  flex: 100%;
  background: none;
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ring-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: auto;
}

.ring-container .ring-svg {
  position: absolute;
  z-index: -1;

}

.ring-label {
  font-size: 40px;
  font-family: "Anton";
  color: #000;
  text-align: center;
}

.ring-tracker-goal-calories {
  font-family: "Josefin Sans";
  font-size: 16px;
  color: gray;
  text-align: center;
  padding-top: 0.5rem;
}

.ring-tracker-warning {
  font-size: var(--font-size-small);
  padding-top: 2rem;
  color: red;
  font-style: italic;
}

.button-small-profilepage {
  background-color: #fb5d35;
  border: 0;
  border-radius: 25px;
  min-height: 28px;
  min-width: 150px;
  justify-content: center;
  align-self: center;
}

.button-profilepage,
.button-small-profilepage:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .grid-container-profilepage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .grid-container-profilepage .left-grid-container-pp-12 {
    grid-column: 1 / -1;
    grid-row: 1;
    padding-bottom: 2rem;
  }

  .img-profilepage {
    background-image: url(./Assets/profpimage-landscape.png);
    min-height: 33dvh;
    background-position: center;
  }

  .grid-container-profilepage .top-grid-container-pp-1 {
    grid-row: 2;
    grid-column: 1;
  }

  .grid-container-profilepage .top-grid-container-pp-2 {
    grid-row: 2;
    grid-column: 2;
  }

  .grid-container-profilepage .bottom-grid-container-pp-1-2 {
    grid-column: 1 / -1;
    grid-row: 3;
  }
}

@media (max-width: 700px) {
  .grid-container-profilepage {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .grid-container-profilepage .left-grid-container-pp-12 {
    grid-row: 1;
    padding-bottom: 2rem;
  }

  .grid-container-profilepage .top-grid-container-pp-1 {
    grid-row: 3;
    min-height: 270px;
  }

  .grid-container-profilepage .top-grid-container-pp-2 {
    grid-row: 2;
    grid-column: 1;
    padding-bottom: 1rem;
  }

  .grid-container-profilepage .bottom-grid-container-pp-1-2 {
    grid-row: 4;

    grid-template-columns: 1fr;
  }

  .input-fields label {
    flex-direction: column;
    align-items: start;
  }

  .label-container {
    flex: 1;
  }
}